@keyframes form-animation-open {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 290px;
    opacity: 0.3;
  }
}

@keyframes form-animation-close {
  from {
    height: 290px;
    opacity: 0.3;
  }
  to {
    height: 0;
    opacity: 0;
  }
}