@import "../../styles/global.css";

#principal-header {
  .user-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    letter-spacing: 0.2px;
    color: var(--black-color);
  }

  .form-control{
    padding: 0 !important;
  }

  .btn-register {
    width: 185px;
    height: 55px;
    background-color: var(--black-color);
    border-radius: 5px;
    border: none;
    color: var(--color-white);

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;

    &:hover {
      opacity: 0.8;
    }
  }

  .btn-cancel {
    width: 185px;
    height: 55px;
    background-color: var(--bg-card);
    border-radius: 5px;
    border: none;
    color: var(--black-color);

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;

    &:hover {
      background-color: var(--btn-hover-cancel);
    }
  }
  .mt-header-custom {
    margin-top: 56px;
  }
}

#single-user-header {
  .user-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    letter-spacing: 0.2px;
    color: var(--black-color);
  }

  .btn-cancel {
    width: 185px;
    height: 55px;
    background-color: var(--bg-card);
    border-radius: 5px;
    border: none;
    color: var(--black-color);

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;

    &:hover {
      background-color: var(--btn-hover-cancel);
    }
  }
  .mt-header-custom {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 600px) {
 
#principal-header {
  .user-title {
    font-size: 35px !important;
  }
  .btn-register, .btn-cancel{
    width: 140px;
  }
}
}